<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Base title
            {% endblock %}
        </title>
        <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body class="bg-light">
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row m-3">
                {% block content %}Some content{% endblock %}
            </div>
        </div>
    </body>
</html>