{% extends 'base.html' %}

{% block title %}
    Articles
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center bg-dark text-light mb-3">
            <div class="col-1">#</div>
            <div class="col">TITLE</div>
            <div class="col">TEXT</div>
            <div class="col">CREATED AT</div>
            <div class="col">AUTHOR</div>
        </div>
        {% for article in articles %}
            <div class="row text-center mb-3" style="background-color: #eee">
                <div class="col-1">
                    {{ loop.index }}
                </div>
                <div class="col">
                    <a class="text-decoration-none" href="{{ url_for('article.article_detail', article_id=article.id) }}">{{ article.title }}</a>
                </div>
                <div class="col">
                    {{ article.text|truncate(50) }}
                </div>
                <div class="col">
                    {{ article.created_at.strftime('%d.%m.%Y %H:%M') }}
                </div>
                <div class="col">
                    {{ article.author.user.username }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}