{% extends 'base.html' %}

{% block title %}
    Articles
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center bg-dark text-light">
            <div class="col"><h6>TITLE</h6></div>
            <div class="col"><h6>TEXT</h6></div>
            <div class="col"><h6>CREATED AT</h6></div>
            <div class="col"><h6>AUTHOR</h6></div>
        </div>
        {% for article in articles %}
            <div class="row text-center mb-3" style="background-color: #eee">
                <div class="col">
                    <a class="text-decoration-none" href="{{ url_for('article.article_detail', article_id=article.id) }}">{{ article.title }}</a>
                </div>
                <div class="col">
                    {{ article.text|truncate(50) }}
                </div>
                <div class="col">
                    {{ article.created_at.strftime('%d.%m.%Y %H:%M') }}
                </div>
                <div class="col">
                    {{ article.user.username|capitalize() }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}